/* ==========================================================================
   Components — Miscellaneous
   ========================================================================== */

.fi-ta-record-collapse-btn {
    align-self: start;
    margin-top: 0.75rem;
}

.fi-sortable-ghost {
    background-color: var(--nu-purple-10);
    opacity: 0.6;
}

.fi-loading-section {
    color: var(--nu-purple-100);
}

.fi-theme-switcher-btn {
    border-radius: var(--nu-border-radius) !important;
}
